{% extends "base_layout.html" %}
{% block title %}PlaceMe{% endblock %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/homepage.css')}}">
{% endblock %}
{% block head_js %}
{{ super() }}
<script src="{{url_for('static',filename='js/homepage.js')}}"></script>
{% endblock %}

{% block body %}
{{ super() }}

<div>
<h2>Home page contents here!! NO body,head tags just the stuff that goes inside body like form, h1, li etc...</h2>
</div>

{% endblock %}