{% extends "base_layout.html" %}
{% block title %}PlaceMe Signup{% endblock %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/homepage.css')}}">
{% endblock %}
{% block head_js %}
{{ super() }}
<script src="{{url_for('static',filename='js/homepage.js')}}"></script>
{% endblock %}
{% block body %}
{{ super() }}

    Applicant's Signup
    <form action="/signup" method="post" autocomplete="off">
        <input type="hidden" name="user-type" value="applicant">
        <input type="text" id="a_id" name="a_id" placeholder="Choose a Username">
        <input type="text" id="a_name" name="a_name" placeholder="Your Full Name">
        <input type="password" id="a_pass" name="a_pass" placeholder="Password">
        <input type="password" id="a_c_pass" name="a_c_pass" placeholder="Re-type Password">
        <input type="submit" id="a_submit" name="a_submit" value="SUBMIT">
    </form>
    <br>
    Employer's Signup
    <form action="/signup" method="post" autocomplete="off">
        <input type="hidden" name="user-type" value="employer">
        <input type="text" id="e_id" name="e_id" placeholder="Choose a Login name">
        <input type="text" id="e_name" name="e_name" placeholder="Your Company name">
        <input type="password" id="e_pass" name="e_pass" placeholder="Password">
        <input type="password" id="e_c_pass" name="e_c_pass" placeholder="Re-type Password">
        <input type="submit" id="e_submit" name="e_submit" value="SUBMIT">
    </form>

{% endblock %}